{% extends "crud/global/base.html" %}

{% block content %}
<div class="container mt-3">
    <form action="{% url 'editar' usuario.id %}" method="POST">
        {% csrf_token %}
        <label for="nome">Nome:</label>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="nome" name="nome" value="{{ usuario.nome }}" required>
        </div>
        <label for="dataNascimento">Data de Nascimento:</label>
        <div class="form-floating mb-3 mt-3">
            <input type="date" class="form-control" id="dataNascimento" name="dataNascimento"
                value="{{ usuario.dataNascimento|date:'Y-m-d' }}" required>
        </div>
        <label for="email">Email:</label>
        <div class="form-floating mb-3 mt-3">
            <input type="email" class="form-control" id="email" name="email" value="{{ usuario.email }}" required>
        </div>
        <label for="paisDestino">País de Destino:</label>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="paisDestino" name="paisDestino"
                value="{{ usuario.paisDestino }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock content %}