<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'criar' %}">Criar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'atualizar' %}">Atualizar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'deletar' %}">Deletar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "pesquisar" %}">Pesquisar</a>
            </li>
        </ul>
    </div>
</nav>